{% extends "base/base.html" %}

{% block title %}Trocar sua senha{% endblock %}

{% block content %}

<form class="login-form" action="" method="post" onsubmit="return confirmPasswords()">
  <h1>Alterar Senha</h1>
  <p>Preencha os campos abaixo para alterar sua senha.</p>
  {% csrf_token %}
  <fieldset>
    <label for="new-password">Nova senha:
      {{ form.new_password1 }}
    </label>
    <label for="new-password-confirmation">Confirme a nova senha:
      {{ form.new_password2 }}
    </label>
    <input class="submit-button-centered" type="submit" value="Trocar sua senha">
  </fieldset>
</form>

  <script>
    function confirmPasswords() {
      var newPassword = $("#id_new_password1").val();
      var confirmPassword = $("#id_new_password2").val();
      if (newPassword != confirmPassword) {
        alert("As duas senhas devem ser iguais!");
        return false;
      }
      var regex = /^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,}$/i
      if (!regex.test(newPassword)){
        alert("Senha deve conter no mínimo 8 caracteres e 1 número");
        return false;
      }
      return true;
    }
  </script>

{% endblock %}
