{% extends "base/base.html" %}

{% block title %}Sucesso!{% endblock %}

{% block content %}
  <form class="login-form" method="post" action="">
    <h1>Esqueci minha senha</h1>
    <p>Informe seu endereço de email para que possamos enviar um link para a recuperação da senha.</p>
    {% csrf_token %}
    <fieldset>
      <label for="email">Email
        <input type="text" id="email" name="email">
      </label>
    <input class="submit-button-centered" type="submit" value="Recuperar minha senha">
    </fieldset>
  </form>
{% endblock %}
