{% extends "base/admin_base.html" %}
{% block content %}
{% block back_button %}
  <a href="{% block back_button_url %}{% endblock %}">
    {% block back_button_text %}Voltar{% endblock %}
  </a>
{% endblock %}
  <form action="" method="post" enctype="multipart/form-data" id="form">
    {% csrf_token %}
    {% block form %}

    {% endblock %}
  </form>
{% block extra_content %}{% endblock %}
{% block scripts %}
  <script>
  var errors = {{ form.errors.as_json|safe }}
  for (error in errors) {
    $("input[name="+error+"]").focus();
    alert(errors[error][0].message);
  }

  {% for message in messages %}
    {% if message.message == "update_success" %}
      alert("Atualizado com sucesso!");
    {% elif message.message == "create_success" %}
      alert("Adicionado com sucesso!");
    {% endif %}
  {% endfor %}

  </script>
{% endblock %}
{% endblock %}
