{% extends "base/base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
  <div class="container">
    {% if next %}
      {% if user.is_authenticated %}
        <h3>Você não possui as permissões necessárias</h3>
      {% else %}
        <h3>Fazer Login</h3>
      {% endif %}
    {% endif %}
    <form class="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
      <div class="logo">
      </div>
      {% csrf_token %}
      <fieldset>
        <label class="form--label" for="username">Usuário</label>
        <input type="text" id="username" name="username">
        <label class="form--label" for="password">Senha</label>
        <input type="password" id="password" name="password">
        <input class="form--submit" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </fieldset>
    </form>
    <a class="password-reset" href="{% url 'reset' %}">Esqueceu sua senha?</a>
  </div>
  <script>
    {% if form.errors %}
      alert("Login ou Senha errado.")
    {% endif %}
  </script>
{% endblock %}
