{% extends "base/admin_detail_base.html" %}
{% block title %} Prova > {{ exam.name }} > {{ question.text }} {% endblock %}
{% block update_button_url %}{% url 'question_update' exam.pk question.pk %}{% endblock %}
{% block delete_button_url %}{% url 'question_delete' exam.pk question.pk %}{% endblock %}
{% block back_button_url %}{% url 'exam_detail' exam.pk %}{% endblock %}
{% block details %}

<h1>{{ question.text }}</h1>

{# Only show options that the user can do! #}
{% if not exam.active and not exam.closed %}
  <a href="{% url 'alternative_add' exam.pk question.pk %}">Nova Alternativa</a>
{% endif %}


<h1>Alternativas</h1>
{% for alternative in alternatives %}
  <a href="{% if not exam.active and not exam.closed %}{% url 'alternative_update' exam.pk question.pk alternative.pk %}{% endif %}">{{ alternative.text }}</a>
  {% if alternative == question.right_alternative %}Certa!{% endif %}
  {% if not exam.active and not exam.closed %}<a href="{% url 'alternative_delete' exam.pk question.pk alternative.pk %}">Deletar</a>{% endif %}
  <br>
{% endfor %}
<script>
{% for message in messages %}
  {% if message.message == "question_create_success" %}
    alert("Questão adicionada com sucesso!");
  {% elif message.message == "question_update_success" %}
    alert("Questão atualizada com sucesso!");
  {% elif message.message == "alternative_create_success" %}
    alert("Alternativa adicionada com sucesso!");
  {% elif message.message == "alternative_update_success" %}
    alert("Alternativa atualizada com sucesso!");
  {% elif message.message == "alternative_delete_success" %}
    alert("Alternativa deletada com sucesso!");
  {% endif %}
{% endfor %}
</script>
{% endblock %}
